#about {
    background: var(--color-ui-2);
    height: 80vh;
}

#about .about__container{
    display: grid;
    grid-template-columns: 400px auto;
    gap: 40px;
}

#about .about__container .section_header {
    padding: 10px 20px;
    margin-top: 20px;
}
#about .me__container .blur-effect::before{
    bottom: 0;
    left: 10px;
    width: 150px;
    height: 145px;
    margin-left: -5%;
    margin-bottom: -5%;
}

#about .photo__container{
    margin-top: 20px;
    margin-left: 50px;
    overflow: hidden;
    max-width: 300px;
    border-radius: var(--border-radius-4);
    border: 2px solid var(--color-primary);
    transform: rotate(-7deg);
    transition: var(--transition) ;
}

#about .photo__container:hover{
    transform: rotate(0);
}

#about .btn{
    margin-top: 30px;
}

@media (max-width:850px) {
    #about{
        height: fit-content;
    }
    #about .about__container{
        grid-template-columns: 100%;
        padding-bottom: 20px;
    }
    #about .me__container{
        display: none;
    }
    #about .btn{
        display: block;
        margin: auto;
        width: 100%;
        max-width: 400px;
    }
}